Heun-Semieniuk-rebound-concordance.tex
Heun-Semieniuk-rebound.aux
Heun-Semieniuk-rebound.bbl
Heun-Semieniuk-rebound.log
Heun-Semieniuk-rebound.out
Heun-Semieniuk-rebound.pdf
Heun-Semieniuk-rebound.spl
Heun-Semieniuk-rebound.synctex.gz
Heun-Semieniuk-rebound.tex
